<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/assets/images/white-on-black-128x128.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Pinkcity Infotech</title>
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/assets/as-pie-progress/css/progress.min.css">
  <link rel="stylesheet" href="/static/assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="/static/assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="/static/assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/static/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/static/assets/theme/css/style.css">
  <link rel="stylesheet" href="/static/assets/recaptcha.css">
  <link rel="preload" as="style" href="/static/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  

</head>
<body>
  
  <section class="menu cid-s1YLZwONfz" once="menu" id="menu1-1">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-5" href="#">PINKCITY INFOTECH</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="index.html#features3-3">Services</a>
                    </li><li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="index.html#pricing-table1-6">Pricing</a></li><li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="index.html#extFeatures67-0">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="index.html#testimonials2-a">Testimonials</a></li><li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="index.html#form1-9">Contacts</a></li></ul>
                <div class="icons-menu">
                    <a href="#" target="_blank">
                        <span class="p-2 mbr-iconfont socicon-twitter socicon"></span>
                    </a>
                    <a href="#" target="_blank">
                        <span class="p-2 mbr-iconfont socicon-skype socicon"></span>
                    </a>
                    <a href="#" target="_blank">
                        <span class="p-2 mbr-iconfont socicon-vimeo socicon"></span>
                    </a>
                    
                    
                    
                </div>
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary-outline display-4" href="index.html#pricing-table1-6"><span class="mobi-mbri mobi-mbri-rocket mbr-iconfont mbr-iconfont-btn"></span>GET STARTED</a></div>
            </div>
        </div>
    </nav>
</section>

<section class="header2 cid-s1YLYYtmhw" id="header2-0">
    
    
    <div class="container align-left">
        <div class="row justify-content-center">
            <div class="mbr-white col-md-12 my-auto md-pb col-lg-6">

                
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1"><strong>SOFTWARE SOLUTION</strong><strong><br></strong></h1>
                <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7">If you looking for Software Development Company? You need to come at the right place. Because only best company can serve you according to your requirements. We are Best among top software companies providing software development, website designing, website development, Web data scraping services, App development since 2019.<br></p>
                <div class="mbr-section-btn"><a class="btn btn-sm btn-primary-outline display-4" href="#"><span class="mobi-mbri mobi-mbri-paper-plane mbr-iconfont mbr-iconfont-btn"></span>GET STARTED</a></div>

            </div>

            <div class="card col-12 img-col col-md-12 col-lg-6">
                <img src="/static/assets/images/fullsizeoutput-1060-960x960.jpeg" alt="">

            </div>



        </div>
    </div>
</section>

<section class="features3 cid-s1YM3FtOOn" id="features3-3">

    

    
    <div class="container mbr-white">
        <div class="row justify-content-center">

            <div class="card md-pb first col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="card-box align-center">

                        <h4 class="mbr-section-title pb-2 mbr-semibold mbr-fonts-style display-5">DIGITAL MARKETING</h4>
                        <p class="mbr-section-text align-center mbr-regular pb-2 mbr-fonts-style display-7">
                            Avail our effective SEO services at the most affordable prices and increase your business visibility in the eyes of Google and your prospective clients.</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="/static/assets/images/02.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="card md-pb col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="card-box align-center">

                        <h4 class="mbr-section-title pb-2 mbr-semibold mbr-fonts-style display-5">SOFTWARE &amp; APP DEVELOPMENT</h4>
                        <p class="mbr-section-text align-center mbr-regular pb-2 mbr-fonts-style display-7">
                            Our software development experts put in their efforts to blend their innovations with your customized requirements.</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="/static/assets/images/03.jpg" alt="">
                    </div>
                </div>
            </div>



            <div class="card last col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="card-box align-center">

                        <h4 class="mbr-section-title pb-2 mbr-semibold mbr-fonts-style display-5">DATA SCIENCE</h4>
                        <p class="mbr-section-text align-center mbr-regular pb-2 mbr-fonts-style display-7">
                            Data Science team uses large, complex data sets and a modern statistical approach to test, analyze, forecast and develop clear and insightful.</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="/static/assets/images/04.jpg" alt="">
                    </div>
                </div>
            </div>




        </div>
    </div>
</section>

<section class="progress-bars1 circle-progress-section cid-s1YMw7pFhM" id="progress1-c">
    
    
    <svg class="svg-gradient">
        <linearGradient>
            <stop offset="0%" stop-color="#e2090d"></stop>
            <stop offset="100%" stop-color="#fc5130"></stop>
        </linearGradient>
    </svg>
    <div class="container mbr-white">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <h2 class="mbr-section-title pb-3 mbr-bold align-center mbr-fonts-style display-2">Our Company Skills</h2>

                <h3 class="mbr-section-subtitle mbr-regular pb-5 mbr-fonts-style display-7">Our association who specialize in various services like Website Designing, Web Development, Software Development, Digital Marketing and Graphics Designing.Get in touch with our team today to experience what makes Pinkcity Infotech stand apart from other agencies.</h3>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-lg-3 p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress1" role="progressbar" data-goal="100">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-semibold mbr-fonts-style display-5">
                        Marketing
                    </h4>
                </div>
                <div class="mbr-crt-text pt-2">
                    
                </div>
            </div>
            <div class="card col-lg-3 p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress2" role="progressbar" data-goal="73">
                        <p class="pie_progress__number mbr-fonts-style display-5">73%</p>
                    </div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-semibold mbr-fonts-style display-5">
                        Branding
                    </h4>
                </div>
                <div class="mbr-crt-text pt-2">
                    
                </div>
            </div>
            <div class="card col-lg-3 p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress3" role="progressbar" data-goal="35">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-semibold mbr-fonts-style display-5">
                        Creation
                    </h4>
                </div>
                <div class="mbr-crt-text pt-2">
                    
                </div>
            </div>
            <div class="card col-lg-3 p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress4" role="progressbar" data-goal="60">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-semibold mbr-fonts-style display-5">Graphic<br></h4>
                </div>
                <div class="mbr-crt-text pt-2">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sgZRHfIO3Y" id="extFeatures67-0">

    

    
    <div class="container-fluid">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper card1">
                    <div class="card-box">
                        <h4 class="card-title align-left mbr-semibold mbr-white mbr-fonts-style display-5">Website Projects Build</h4>
                        <p class="mbr-text align-left mbr-white mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac feugiat neque.</p>
                        <div class="mbr-section-btn"><a href="#" class="btn btn-md btn-white-outline display-4">View More</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper card2">
                    <div class="card-box">
                        <h4 class="card-title align-left mbr-semibold mbr-white mbr-fonts-style display-5">ERP Projects Build</h4>
                        <p class="mbr-text align-left mbr-white mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac feugiat neque.</p>
                        <div class="mbr-section-btn"><a href="#" class="btn btn-md btn-white-outline display-4">View More</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper card3">
                    <div class="card-box">
                        <h4 class="card-title align-left mbr-semibold mbr-white mbr-fonts-style display-5">
                            Data Science Env</h4>
                        <p class="mbr-text align-left mbr-white mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac feugiat neque.</p>
                        <div class="mbr-section-btn"><a href="#" class="btn btn-md btn-white-outline display-4">View More</a>
                        </div>
                    </div>

                </div>
            </div>

            
        </div>
    </div>
    
</section>

<section class="team1 cid-s1YM9uDjlF" id="team1-4">
    

    
    <div class="container-fluid mbr-white">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 pb-5">
                <h4 class="main-title align-center pb-3 mbr-bold mbr-black mbr-fonts-style display-2">Team of Experts</h4>
                <h5 class="main-subtitle align-center mbr-regular mbr-black mbr-fonts-style display-7">Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper">
                        <img src="/static/assets/images/face1.jpg" alt="">
                    </div>
                    <div class="card-box ">
                        <h3 class="mbr-subtitle mbr-semibold mbr-fonts-style display-5">Marie Jordan</h3>
                        <h4 class="card-title mbr-regular mbr-black mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur
                            adipiscing dapibus elit.</h4>
                    </div>
                    <div class="text-wrap">

                        <div class="icon-wrapper">
                            <span class="link-icon socicon-twitter socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-instagram socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-youtube socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-skype socicon"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper">
                        <img src="/static/assets/images/face2.jpg" alt="">
                    </div>
                    <div class="card-box ">
                        <h3 class="mbr-subtitle mbr-semibold mbr-fonts-style display-5">Ann Brown</h3>
                        <h4 class="card-title mbr-regular mbr-black mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur
                            adipiscing dapibus elit.</h4>
                    </div>
                    <div class="text-wrap">

                        <div class="icon-wrapper">
                            <span class="link-icon socicon-twitter socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-instagram socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-youtube socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-skype socicon"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper">
                        <img src="/static/assets/images/face3.jpg" alt="">
                    </div>
                    <div class="card-box ">
                        <h3 class="mbr-subtitle mbr-semibold mbr-fonts-style display-5">Andrew Bill</h3>
                        <h4 class="card-title mbr-regular mbr-black mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur
                            adipiscing dapibus elit.</h4>
                    </div>
                    <div class="text-wrap">

                        <div class="icon-wrapper">
                            <span class="link-icon socicon-twitter socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-instagram socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-youtube socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-skype socicon"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>

<section class="content2 solutionm4_content2 cid-sh03TBbb9T" id="content2-3">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 md-pb">
                <img src="/static/assets/images/03.jpg" alt="">
            </div>

            <div class="col-lg-6 col-md-12 md-pb">
                <div class="title-wrapper align-left">
                    <div class="line"></div>
                    <h3 class="mbr-section-title mbr-white mbr-semibold pb-3 mbr-fonts-style display-2">Entrepreneurship&nbsp;<br>Program</h3>
                    <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7">Software entrepreneurship is the process of turning an idea into a real software product or service. This guide is intended to give you an overview of what it means to be a software entrepreneur.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing1 cid-s1YMd28qy4" id="pricing-table1-6">
    
    
    <div class="container">
        <div class="row align-center justify-content-center">
            <div class="col-12 col-md-12 col-lg-8">
                <h3 class="main-title align-center pb-3 mbr-semibold mbr-white mbr-fonts-style display-2">Plans and Pricing</h3>
                <p class="main-text align-center pb-5 mbr-light mbr-white mbr-fonts-style display-7">Lorem ipsum dolor sit amet consectetur
                    adipiscing elit nullam placerat est quis lorem tristique aliquet cras quis tristique felis vitae
                    eleifend sapien.</p>
            </div>
        </div>
        <div class="row align-center justify-content-center">
            <div class="card md-pb col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="icon-wrapper">
                        <span class="mbr-iconfont mobi-mbri-shopping-cart mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h5 class="card-title mbr-semibold pb-2 mbr-white mbr-fonts-style display-5">Web Starter<br>plan</h5>
                        <p class="price mbr-bold mbr-white mbr-fonts-style display-2">$99</p>
                        <div class="list-items pb-4">
                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Lorem ipsum dolor</p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7"> Sit amet consectetur</p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Adipiscing elit</p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Nullam placerat </p>
                                <span class="item-icon mobi-mbri-error mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Est quis lorem</p>
                                <span class="item-icon mobi-mbri-error mobi-mbri"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="#"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>CHOOSE PLAN</a>
                    </div>
                </div>
            </div>
            <div class="card md-pb col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="icon-wrapper">
                        <span class="mbr-iconfont mobi-mbri-idea mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h5 class="card-title mbr-semibold pb-2 mbr-white mbr-fonts-style display-5">Web &amp; App Combo<br>Or<br>Custom Software</h5>
                        <p class="price mbr-bold mbr-white mbr-fonts-style display-2">$149</p>
                        <div class="list-items pb-4">
                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Lorem ipsum dolor</p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7"> Sit amet consectetur</p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Adipiscing elit</p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Nullam placerat </p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Est quis lorem</p>
                                <span class="item-icon mobi-mbri-error mobi-mbri"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="#"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>CHOOSE PLAN</a>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="icon-wrapper">
                        <span class="mbr-iconfont mobi-mbri-protect mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h5 class="card-title mbr-semibold pb-2 mbr-white mbr-fonts-style display-5">Premium Brand Launching</h5>
                        <p class="price mbr-bold mbr-white mbr-fonts-style display-2">$199</p>
                        <div class="list-items pb-4">
                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Lorem ipsum dolor</p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7"> Sit amet consectetur</p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Adipiscing elit</p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Nullam placerat </p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>

                            <div class="item mbr-flex">
                                <p class="item-text mbr-regular mbr-white mbr-fonts-style display-7">Est quis lorem</p>
                                <span class="item-icon mobi-mbri-success mobi-mbri"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="#"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>CHOOSE PLAN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials2 cid-s1YMk5s30h" id="testimonials2-a">
    

    
    <div class="container-fluid mbr-white">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-7 pb-3">
                <h4 class="main-title align-center pb-3 mbr-bold mbr-black mbr-fonts-style display-2">Testimonials</h4>
                
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-10 col-lg-7">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper">
                        <img src="/static/assets/images/face1.jpg" alt="">
                    </div>
                    <div class="card-box ">
                        <h3 class="mbr-subtitle mbr-semibold mbr-fonts-style display-5">Marie Jordan</h3>
                        <h4 class="card-title mbr-regular mbr-black mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Mauris finibus leo et diam fermentum ullamcorper. Nulla venenatis nibh
                            sollicitudin tincidunt gravida. Nam convallis justo et ligula luctus suscipit. Etiam eu nisi
                            turpis. Donec sollicitudin accumsan quam, rhoncus sagittis metus semper quis. Praesent
                            convallis mauris sed ipsum lobortis facilisis. Nulla cursus sem non nunc sagittis, a
                            volutpat mauris lobortis.<div><br></div>
                        </h4>
                    </div>
                    <div class="text-wrap">
                        <div class="icon-wrapper">
                            <span class="link-icon mobi-mbri-star mobi-mbri"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon mobi-mbri-star mobi-mbri"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon mobi-mbri-star mobi-mbri"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon mobi-mbri-star mobi-mbri"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon mobi-mbri-star mobi-mbri"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="form1 cid-s1YMhHggsQ" id="form1-9">
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto mbr-form" data-form-type="formoid">
                <!--Formbuilder Form-->
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="M32TqVB2f8Akws4nCVkJPD0NPywpiEDb6h4OfDYbbLz9dLkN5dig7ymU1ZAJoSFTSNFgULAkWXaiV3wTO998k2UNvBVd6SB7564e79GuzFXmkMY3Gzk282jH1vwd/TWT">
                    <div class="form-row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea form-row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4 class="mbr-bold mbr-fonts-style display-2">Newsletter</h4>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="pb-4 mbr-fonts-style display-7">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Nunc aliquet ligula nec leo elementum semper. Mauris
                                aliquet egestas metus, id pellentesque mauris tincidunt.</p>
                        </div>
                        <div data-for="name" class="col form-group">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control display-7" value="" id="name-form1-9">
                        </div>
                        <div class="col form-group" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control display-7" value="" id="email-form1-9">
                        </div>
                        <div class="col-auto"><button type="submit" class="btn btn-primary display-4"><span class="mobi-mbri mobi-mbri-edit mbr-iconfont mbr-iconfont-btn"></span>SUBSCRIBE</button>
                        </div>
                    </div>
                </form>
                <!--Formbuilder Form-->
            </div>
        </div>
    </div>
</section>

<section class="extMap cid-sgZT6mfe0H" id="extMap1-1">

    

    

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12 order-2">


                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZI5F_k6S1k46ujh0SNrapM89f7mJxd30&amp;q=Goverdhan Sky Mall khatipura road jhotwara jaipur 302012" allowfullscreen=""></iframe></div>


                <div class="map-placeholder">
                    <div placeholder="">
                        <div class="mobirise-spinner">
                            <em></em>
                            <em></em>
                            <em></em>
                        </div>
                    </div>
                </div>

            </div>






            <div class="card col-lg-6 col-md-12 col-sm-12">

                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-5">Contacts</h3>

                <div class="stripe"></div>

                <div class="mbr-row items mbr-white">
                    



                    
                    

                <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-tablet-vertical" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4">+91 8949462506</h5>
                    </div><div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-pin" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4">Khatipura Rd, Jhotwara<br>302012</h5>
                    </div><div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-letter" style="color: rgb(10, 28, 68); fill: rgb(10, 28, 68);"></span>
                        <h5 class="mbr-fonts-style text2 display-4">finisher@pinkcityinfotech.com</h5>
                    </div></div>



                <div class="social-list py-4">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-skype socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    
                </div>



                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-5">Newsletter</h3>
                <div class="stripe"></div>

                <p class="mbr-text mbr-normal py-2 links mbr-fonts-style display-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quisquam hic minima officiis labore. Autem iste maiores,
                    impedit quasi, incidunt voluptatibus.</p>

                <div data-form-type="formoid">
                    <!---Formbuilder Form--->
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="cj5ooU0Yx8JVgSBHzCMDmNMRl0WXIjIEbGYCbFRNKxL6WUfo+e49Vem1jIkripQ+dL6RYuX+JvFDvUOLa4g/jmaCxv867VGr4WrWyuKis6HvcNM6JROE6qQe2eqnHhrp">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12"></div>
                        </div>
                        <div class="dragArea row">
                            <div class="col form-group " data-for="email">
                                <input type="text" name="email" placeholder="Your e-mail" data-form-field="E-mail" class="form-control display-7" id="email-extMap1-1">
                            </div>
                            <div class="col-auto input-group-btn mbr-section-btn">
                                <button type="submit" class="btn btn-form btn-primary display-4">Subscribe</button>
                            </div>
                        </div>
                    </form><!---Formbuilder Form--->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer1 solutionm4_footer1 cid-sgZU6s6LcA" once="footers" id="footer1-2">
    
    
    <div class="container">
        <div class="row mbr-white justify-content-center">
            <div class="col-12 col-lg-6 col-md-6">
                <p class="mbr-text1 align-left mbr-fonts-style align-left display-7"></p>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <p class="mbr-text2 align-right mbr-fonts-style align-left display-7">© 2020 by <a href="/" class="text-secondary text-primary">Pinkcity Infotech</a></p>
            </div>
        </div>
    </div>
</section>


<script src="/static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/static/assets/popper/popper.min.js"></script>
  <script src="/static/assets/tether/tether.min.js"></script>
  <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/static/assets/dropdown/js/nav-dropdown.js"></script>
  <script src="/static/assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="/static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/static/assets/as-pie-progress/jquery-as-pie-progress.min.js"></script>
  <script src="/static/assets/formstyler/jquery.formstyler.js"></script>
  <script src="/static/assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="/static/assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="/static/assets/theme/js/script.js"></script>
  <script src="/static/assets/formoid.min.js"></script>
  
  
  

</body>
</html>